*.zip
*.pdf
*.png
*.out
.DS_Store
*.pyc
*.root
.idea
*.aux
*.toc
*.snm
*.nav
*.log
*.tex
11Dec_aT_0p53_forRobin_v0/
03Dec_aT_0p53_lowBins_dPhi_gt0p3_v0
04Dec_aT_0p53_fullHT_dPhi_lt0p3_v0
11Dec_aT_0p53_forRobin_v0_MuonInJet
28Nov_aT_0p53_v1
01Dec_aT_0p53_globalAlphaT_v1
